body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
   
   
   .cus_footer{
    
     width:100%;
     height:50px;
     padding:4px;
     background-color: #37474f;


   }

   .parallax img{
    @media #{$small-and-down} { max-width: 200%; }
    @media #{$medium-and-up} { width: 100%; }
    }

    .my-nav{
      background: #0b8798 !important;
    }

   .logoimg {
    height: 60px !important;
    border-radius:0% !important;
    padding-top:5px;
  }

  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 720px) {
    .logoimg{
         height:50px !important;
      }
    }

    .fa {
      padding: 10px;
      font-size: 25px !important;
      width: 50px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      background: white; 
     
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
      color: #3B5998;
  }
  
  .fa-instagram {
      color: #7332b6;
  }